body {
    background-color: rgba(166, 250, 207, 0.704);
}

h1{
    color: rgb(120, 0, 160);
}
h2{
    color: rgb(174, 0, 232);
}

.why {
    color: rgb(95, 92, 255);
}

.img_principal {
    height: 500px;
    width: 700px;
    border-radius: 4%;
}

.fuente_personalizada {
    font-family: georgia;
}